@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&family=Raleway&display=swap');
*{
    font-family: "Montserrat",sans-serif;
    
}

.SignUpNavbar{
    width: 100%;
    margin-left: 3%;
    
}
.NavBarBottom{
    height: 13rem;
    color:"#333";
    background: #f3f3f3;
    border-top: 5px dashed black;
    text-align: center;
}

.Social{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    
}

.EmailSign{
    /* border: 1px solid; */
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 2%;
}

